/* CSS Reset */
body {
    margin:0;
    padding:0;
    font-size:100%;
    line-height:1;
}

/* center background image at all times */
html { 
    background: url(_MG_8883.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* for cellphones and shit */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    html {
        background: url(_MG_8883.jpg) no-repeat left center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    }
}